/* p1_mobile.css*/



@media screen and (max-width: 480px) {
/* min width 280px 설정하기*/


/* #bannerBox----------*/
#bannerBox{height: /*250px*/54vw; margin-top: 50px;}
.banner>li{background-size: cover;}

/* #productBox----------*/
#productBox{ height:/* 500px*/104.166666vw; min-height: 300px;}

.arrow{top: 44%;
  padding: 0 2% 0;}
.arrow>button{width: 11vw; height: 22vw;}

.pd_box{background-size: 80%;
background-position: 50% 22%;}
/*.pd_box>ul>li{
background-size: 58%;
}*/

.pd1{background-size: 56%;}
.pd2{background-size: 40%;}
.pd3{background-size: 38%;}
.pd4{background-size: 54%;}

/*.pd_box:after{ height: 60%;}*/
.pd>dt{
  font-size: 1.3rem; font-weight: bold;
  line-height: 8.333333vw; margin-top: 5vw;}
.pd>dd{width: 100%; height: auto; margin-top: 5px;
  font-size: 0.8rem; line-height: 130%;}
.pd>dd:last-child{margin-top: 3vw;}

.button>button{ 
  width: 140px; height: 35px;}


/* #eventBox-------------*/
#eventBox{height: 860px; padding-top: 12%;}
.event_con>div{width: 100%; height: 48%;}

.news_con2 dl{margin-top: 3px;}

.insta_con{display: none;}


 }