/* p1_mobile.css*/



@media screen and (max-width: 480px) {
/* min width 280px 설정하기*/


/*shopBox*/
#cakeBox{padding-top: 50px; padding-bottom: 26%;}
#cakeBox>h2{height: 30px; font-size: 1.5rem;}
.cake_tap{margin-top: 40px; height: 24px;}
.cake_tap>ul{width: 300px;}
.cake_tap>ul>li{font-size: 0.85rem; line-height: 24px;}

/* cake list */
.cake_pd_box{padding-top: 40px;}
.tab{width: 92%;}
.list{width: 47.5%; height: 56.25vw; margin-right: 5%;}
.list:nth-of-type(4n){margin-right: 5%;}
.list:nth-of-type(2n){margin-right: 0;}
.list>a>dl>dt{width: 100%; height: 74%;}
.list>a>dl>dd{font-size: 0.6rem; height:auto; padding-top: 1%;}
.list>a>dl>dd:nth-child(4n-2){font-size: 0.8rem; height: auto; padding-top: 5%;}


 }