/* headBox.css*/


/* #headBox----------*/
#headBox{position: relative; z-index: 100;
  width: 100%; height: 122px; background-color: #C8A176;
  box-shadow: 3px 3px 3px rgba(20,20,20,0.35);}
#headBox>.head_wrap{margin: auto; width:90%; height: 100%;
  box-sizing:border-box; 
  padding-top: 40px;}

h1{float: left;
  width: 148px; height: 70px;}

h1>a{display: block; width: 100%; height: 100%;
  background-image: url(../../../img/logo.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;}


/*gnb*/
.gnb_box{float: right; 
  width:630px; height: auto;}
.ham_wrap{display: none;}

.gnb{position: absolute; left: 50%; bottom: 0; margin-left: -280px; 
  width:500px; height: 60px;}
.gnb>ul{width:100%; height: 100%;}
.gnb>ul>li{width: 20%; height: 100%; 
  float: left; 
  box-sizing: border-box;
  padding-top: 20px;}
.gnb>ul>li:last-child{margin-right: 0;}
.gnb>ul>li>a{display: block;
  font-size: 1rem; color: #121212;
  font-weight: bold; text-align: center;}
.gnb>ul>li:hover ,.gnb>ul>li:focus {background-color: rgba(20,20,20,0.8);}
.gnb>ul>li:hover .under_menu,.gnb>ul>li:focus .under_menu{display: block;} 
.gnb>ul>li:hover a,.gnb>ul>li:focus a{color: #fff;}

/*under_menu*/
.under_menu{display: none;
  position: absolute; top: 60px;
  z-index: 100;
  width: 20%; height: auto;}
.under_menu>ul{
width: 100%; padding-top: 15px;
background-color: rgba(20,20,20,0.8);}
.under_menu>ul>li{width: 100%;}
  
.under_menu>ul>li>a{display: block;
width: 80%; height: 30px; margin: auto;
font-size: 0.8rem; color: #fff;
line-height: 30px;}
.under_menu>ul>li:last-child >a{padding-bottom: 20px;}
.under_menu2 a{padding-left: 4px;}
.under_menu4 a{padding-left: 18px;}

.under_menu>ul>li>a:hover,.under_menu>ul>li>a:focus{text-decoration: underline;}


.social{width:auto; height: 40px; float: right; 
  margin-left: 40px; margin-top: 38px;}
.social>ul{width: 100%; height: 28px;}
.social>ul>li{width: 28px; height: 100%;
float: left; margin-right: 10px;
border-radius: 100%;}
.social>ul>li:last-child{margin-right: 0;}
.social>ul>li>a{display: block; width: 100%; height: 100%; border-radius: inherit;
background-image: url(../../../img/headBox/facebook.png);
background-size: 100%;
background-repeat: no-repeat;
background-position: center;}
.social>ul>li:first-child>a{background-size: 110%;
}
.social>ul>li:nth-child(2n)>a{background-image: url(../../../img/headBox/kakaotalk.png);
background-size: 110%;}
.social>ul>li:nth-child(3n)>a{background-image: url(../../../img/headBox/imstar.png);}

/*unb*/
#headBox::before{content: " "; display: block; 
  position: absolute; top: 0; left: 0;
  width: 100%; height: 34px; background-color: #373536;
   }
.unb_wrap{position: absolute; 
  top: 0; left: 50%; margin-left: -40vw;
  width: 80vw; height: 1.8rem; max-width: 1200px; }
.unb_box{ 
	width:12rem; height: 100%; float: right;}
.unb_box>ul{width:auto; height: 100%; float: left;}  
.unb_box>ul>li{width:46px; height: 100%; float: left; line-height: 2rem;}
.unb_box>ul>li:last-child{margin-left: 1.6rem;}

.unb_box>ul>li>.sub{width: 100%; height: 100%;}
.unb_box>ul>li>div>a{display: block; width: 100%; height: 100%; }
.unb_box>ul>li>div>a:focus,.unb_box>ul>li>div>a:hover{font-weight: bold;}
.unb_box>ul>li>div>a>span{color: #fff; font-size: 0.7rem;}

.login_pop{ display: none;
  position: absolute; left: 0; top: 122px;
  width:100%; height: 700px;background-color: #fff;}

.cart{width: 60px; height: 100%; float: right; line-height: 2rem;}
.unb_box>div>a{display: block; width: 100%; height: 100%;}
.unb_box>div>a>span{color: #fff; font-size: 0.7rem;}
.unb_box>div>a:focus,.unb_box>div>a:hover{font-weight: bold;}

.cart_pop{display: none;
  position: absolute; top: 122px; left: 0;
  width: 100%; height: 700px; background-color: #fff;}